       html,
        body {
            height: 100%;
            background-color: #ebebf1;
            background-size: cover;
        }

        body {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 1.8em;
        }

        .container {
            width: 67%;
            transform: translateY(2em);
        }

       .a-black {
              color: #000;
       } 
       
       .a-black:hover  {
              color: #311d70;
              text-decoration: none !important;
       }

        h1 {
            font-size: 2em;
        }

        #awareness-ribbon {
            font-size: 3em;
        }

        .col-nav {
            padding-right: 5%;
        }

        .col-main {
            border-left: 2px solid #311d70;
            padding-left: 5%;
        }

        h1 {
            text-align: right;
        }

        h2 {
            font-size: 1.25em;
        }

        .buttons {
            text-align: right;
        }

        .btn-default {
            font-size: 1.125em;
            margin: 0.3em 0.1em;
            padding-left: 1em;
            padding-right: 1em;
            border-color: #311d70;
            background-color: transparent;
            border-radius: 25px;
        }

       .btn-default:hover {
              background-color: #311d70;
              color: #FFF;
       }

       button.centered {
              text-align: center !important;
       }

       .hangingindent {
             padding-left: 22px ;
             text-indent: -22px ;
       }
